accelerate
aiohttp
anytree
beautifulsoup4
bert-score
bitsandbytes
boto3
botocore
click
datasets
Deprecated
dill
editdistance
fairscale
filelock
flair
Flask
flask-cors
ftfy
fsspec
gdown
huggingface-hub
imageio
Jinja2
joblib
jsonlines
langdetect
language_tool_python
lemminflect
lxml
matplotlib
mpld3
nltk
numpy
opencv-python
OpenHowNet
pandas
Pillow
protobuf
pycocoevalcap @ git+https://github.com/salaniz/pycocoevalcap.git@a24f74c408c918f1f4ec34e9514bc8a76ce41ffd
pycocotools
regex
requests
scikit-image
scikit-learn
scipy
sentencepiece
textattack
timm
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
wrapt
ruamel.yaml
ruamel.yaml.clib
